.root {
    -fx-font-family: 'Courier';
    -fx-font-size: 14px;
}

.font-l {
    -fx-font-size: 16px;
}

.game-grid-cell {
    -fx-border-color: gray;
    -fx-border-insets: 3;
    -fx-border-style: hidden hidden solid hidden;
}

.game-select-word-cell {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.game-complete-pane {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
